<!doctype html>
<head>
    <title>Загруженные изображения</title>
</head>
<body>
<table>
    <caption>Загруженные изображения</caption>
    <tr>
        <th>ID изображения</th>
        <th>Имя изображения</th>
        <th></th>
        <th>Время загрузки</th>
    </tr>
    {% if images %}
    {% for image in images %}
    <tr>
        <td>{{image.id}}</td>
        <td>{{image.name}}</td>
        {% with url = url_for('uploaded_image', filename = image.name) %}
        <td><a href="{{url}}"><img src="{{url}} " height=200/></a></td>
        <td>{{image.uploaded_at}}</td>
        {% endwith %}
    </tr>
    {% endfor %}
    {% endif %}
</table>
</body>
